<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="row w-100">
    <div class="col-lg-4"></div>

    <div class="col-lg-4">
      <div class="card centre">
        <div class="card-body">
          <h2 class="card-title">Login</h2>
          <form>
            <!-- Email input -->
            <mdb-form-control class="mb-4">
              <input
                mdbInput
                type="email"
                id="form2Example1"
                class="form-control"
                [(ngModel)]="login.email"
                name="email"
              />
              <label mdbLabel class="form-label" for="form2Example1"
                >Email do Usuário</label
              >
            </mdb-form-control>

            <!-- Password input -->
            <mdb-form-control class="mb-4">
              <input
                mdbInput
                type="password"
                id="form2Example2"
                class="form-control"
                [(ngModel)]="login.senha"
                name="senha"
                (keyup.enter)="logar()"
              />
              <label mdbLabel class="form-label" for="form2Example2"
                >Senha</label
              >
            </mdb-form-control>

            <!-- Submit button -->
            <button
              mdbRipple
              type="button"
              class="btn btn-primary btn-block mb-4"
              (click)="logar()"
            >
              Entrar
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>